@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a7d7c5;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: Karla;
    font-size: 36px;
    padding: 0;
    margin: 0;
}

p {
    font-family: Karla;
    font-size: 15px;
}

form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.masterpass-container {
    background-color: #F6FBF9;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-radius: 32px;
    padding: 50px 30px;
}

.submit-buttom {
    background-color: #84C7AE;
    border: 0;
    padding: 10px;
    border-radius: 15px;
    color: #FFFFFF;
    width: 255px;
    height: 59px;
    font-size: 18px;
}

.masterpass-textarea{
    border-radius: 10px;
    border: solid #0000001A 1px;
    width: 375px;
    height: 55px;
    padding-left: 15px;
}
